.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FBCE54;
  height: 170px;
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 50px solid #61849E;
 
}

body {
  background-color:#58A4B0;
}

.Header-text {
  color: #E3E3E3;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 270px;
}

.NameTitle {
  height: 80px;
  width: 550px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 150px;
}
/* .App-body {
  background-color:#5A545B;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61849E;
} */



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
