.VicProfile {
    height: 250px;
    width: 250px;
    /* position: center; */
    margin-top: 300px;
    margin-bottom: 50px;
    margin-left: 900px;
    border-radius: 50%;
    border: 20px solid #61849E;
    animation: VicProfile infinite 20s linear;
    transform: rotate(90deg);
}

@keyframes VicProfile {
    0% {
      /* Initial state */
      transform: rotate(360deg);
    }
    100% {
      /* Final state */
      transform: rotate(0deg);
    }
  }