.About-Me-Container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    
}





.About-Me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    /* justify-content: center; */
    /* height: 100vh; */
    color: #ECE0E0; 
}